body {
    background-color: #f0f0f1;
    font-family: Arial, Verdana, sans-serif;
}

#top {
    margin-left: 10px;
}

#toppanel {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.toppanelel {
    float: left;
    display: block;
    padding: 8px;
}

#home {
    background-color: #2196f3;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

#home:hover {
    background-color: #0b7dda;
}

#main {
    clear: both;
    border-left: 6px solid #2196f3;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 25px;
    padding-left: 10px;
}

#list {
    font-size: large;
}

li.mainlist {
    padding: 3px;
}

#additionalFunctions {
    border-style: solid;
    border-width: thin;
    max-width: 700px;
}

h3 {
    color: #4d4d4d;
    margin-left: 10px;
}

#maxPeriodEl {
    max-width: 600px;
    margin-left: 10px;
}

a.additionalFunctionsLinks {
    margin-left: 10px;
}